{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Formular Seite</title>
        <script src="{% static 'date.js' %}"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        {% if error %} 
            <p>Ein Fehler ist aufegetreten!</p>

            <hr> 
        {% endif %}
        {% if success %} 
            <p>Daten erfolgreich gespeichert!</p>
        {% endif %}
        <form action="/formular/send_form" method="post">{% csrf_token %}
            {% if missing_datum %} {% endif %}
            <label for="datum">Datum:</label>
            <input type="date" id="datum" name="datum" onblur="checkIfInput(this)">
            <button type="button" onclick="document.getElementById('datum').value = todayISO()">Heute</button>
            <br><span id="datum_missing_error" class="no-error">Bitte eintragen!</span>
            {% if missing_datum %} Bitte Eintragen! {% endif %}
            <br><br>

            <label for="startzeit">Startzeit:</label>
            <input type="time" id="startzeit" name="startzeit" onblur="checkIfInput(this)">
            <br><span id="startzeit_missing_error" class="no-error">Bitte eintragen!</span>
            {% if missing_startzeit %} Bitte Eintragen! {% endif %}
            <br><br>

            <label for="endzeit">Endzeit:</label>
            <input type="time" id="endzeit" name="endzeit" onblur="checkIfInput(this)">
            {% if missing_endzeit %}
            <br><span id="endzeit_missing_error" class="no-error">Bitte eintragen!</span>
            {% else %}
            <br><span id="endzeit_missing_error" class="no-error">Bitte eintragen!</span>
            {% endif %}
            {% if endzeit_time_error %}
            <br><span id="endzeit_time_error" class="no-error">Eindzeit kann nicht eher als Startzeit sein!</span>
            {% else %}
            <br><span id="endzeit_time_error" class="no-error">Eindzeit kann nicht eher als Startzeit sein!</span>
            {% endif %}
            <br>

            <label for="activity">Kommentar:</label>
            <input type="text" id="activity" name="activity" onblur="checkIfInput(this)">
            {% if missing_activity %}
            <br><span id="activity_missing_error" class="no-error">Bitte eintragen!</span>
            {% else %}
            <br><span id="activity_missing_error" class="no-error">Bitte eintragen!</span>
            {% endif %}
            <br><br>

            <label for="submit-form">Absenden:</label>
            <input type="submit" id="submit-form" name="submit-form" onclick="return absenden()">
        </form>
    </body>
</html>